<html>
    <head>
        <title>Anugya's blog</title>
    </head>
    <body>
        <p>Hi there! This is my python website</p>
        <p>It <strong>works</strong>!</p>
        <h1>There's a lot of meat here.</h1>
        <p>Bacon ipsum dolor amet short ribs leberkas andouille sirloin shankle pancetta. Andouille shank fatback rump, swine picanha pig short loin sirloin jerky pork belly doner corned beef. Tail meatloaf kevin capicola t-bone jowl ham tenderloin kielbasa. Jowl picanha shoulder jerky t-bone kevin andouille. Bresaola drumstick pork chop shank swine shankle jowl tenderloin venison sirloin alcatra ham hock kielbasa short ribs.</p>

	<div>	
		{% for post in posts %}
		  {{ post }}
        {% endfor %}
	</div>
	{% for post in posts %}
		<div>
        	<p>published: {{ post.published_date }}</p>
        	<h1><a href="">{{ post.title }}</a></h1>
        	<p>{{ post.text|linebreaks }}</p>
   		</div>
	{% endfor %}
       
       <p>Beef short loin doner, chuck jerky pig pork pork loin capicola. Short ribs tongue beef ribs sirloin bresaola. Sausage tenderloin bacon flank cupim landjaeger. Ribeye andouille beef kielbasa beef ribs venison, pork loin meatball. Frankfurter ham hock bacon pork belly meatloaf rump.</p>
    </body>
</html>